{{#partial "content"}}
    <link rel="stylesheet" href="/css/about.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    <div class ="container mt-5 text-center w-75 align-items-center home">
        <div class = "row mt-5">
            <h1>Routing in Spark </h1>
        </div>
        <div class="row mt-5">
            <div class="card">
                <p>The main building block of a Spark application is a set of routes. A route is made up of three simple pieces:<p>
                <p>A verb (get, post, put, delete, head, trace, connect, options)</p>
                <p>A path (/hello, /users/:name)</p>
                <p>A callback (request, response) -> { }</p>
                <p> Routes are matched in the order they are defined. The first route that matches the request is invoked.</p>
                <p> Always statically import Spark methods to ensure good readability:</p>
            </div>
        </div>
        <p></p>
        <div class="card1">
            <p>Types of routes</p>

            <p>
                get("/", (request, response) -> {

                <p>
                // Show something });

            </p>

            <p>
                post("/", (request, response) -> {

            <p>
                // Create something});

            </p>

            <p>
                put("/", (request, response) -> {

            <p>
                // Update something });

            </p>

            <p>
                delete("/", (request, response) -> {

            <p>
                // Annihilate something});

            </p>
            <p>
                options("/", (request, response) -> {

            <p>
                // Appease something});
            </p>

        </div>
    </div>
{{/partial}}

{{> layout.hbs}}