{{#partial "content"}}
    <link rel="stylesheet" href="/css/index.css">
    <div class="about">
        <p>Routing.</p>
        <p>introduction into routing with Spark</p>
        <p>Lets begin! </p>
        <br>
        <br>
    <a href="/students-form"><button type="submit" class="btn btn-primary" style="text-align: center;">Add Student</button> </a>
    <br>
    <br>
    </div>
{{/partial}}

{{> layout.hbs}}