{{#partial "content"}}
    <link rel="stylesheet" href="/css/link.css">
    <div class="success">
        <h1>Check out the following links to learn more about Spark!</h1>



        <ul>
            <li>
                <a href="https://www.javadoc.io/doc/com.sparkjava/spark-core/1.0/spark/Route.html" target="_blank">Routing Documentatio</a>
            </li>
            <li>
                <a href="https://www.baeldung.com/spark-framework-rest-api" target="_blank">Baeldung</a>
            </li>
            <li>
                <a href="https://zetcode.com/java/spark/" target="_blank">Zet Code!</a>
            </li>
        </ul>
    </div>

{{/partial}}

{{> layout.hbs}}