{{#partial "content"}}
    <link rel="stylesheet" href="/css/link.css">

    <h1>Wanna learn more about Spark? Check out the links</h1>

    <ul>
        <li>
            <a href="https://sparkjava.com/documentation#routes" target="_blank">Spark Documentation</a>
        </li>
        <li>
            <a href="https://www.javatpoint.com/spark-java" target="_blank">Java Point</a>
        </li>
        <li>
            <a href="https://zetcode.com/java/spark/" target="_blank">Zet Code</a>
        </li>
    </ul>
{{/partial}}

{{> layout.hbs}}