
{{#partial "content"}}
    <link rel="stylesheet" href="/css/student-form.css">


    <div class="container">
        <h2> New Spark students form</h2>
        <form action="/student" method="POST" >
            <div class="form">
                <label for ="name">Student's Name</label>
                <input type="text"  class="form-control w-50" id="name " name="name" required>
            </div>


            <div class="form">
                <label for ="cohort">Student's Cohort</label>
                <input type="text"  class="form-control w-50" id="cohort " name="cohort" required>
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
{{/partial}}

{{> layout.hbs}}